/* color */
$white: #ffffff;
$orenge: #ff5a30;
$orengeHover: #e04f2b;
$darkGrey: #1e212c;
$lightGrey: #cecece;
$grey: #424551;
$greyText: #787a80;
$light: #f8f8f8;

$gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 13.21%, rgba(0, 0, 0, 0) 45.13%);
$animation: 0.2s ease-in-out;

/* @media */
$mediaLaptop: 1200px;
$mediaTablet: 991px;
$mediaMobile: 680px;
$mediaMobileMini: 350px;

.xs,
.md {
    display: none;
}
@media (max-width: $mediaTablet) {
    .lg,
    .xs {
        display: none;
    }
    .md {
        display: block;
    }
}
@media (max-width: $mediaMobile) {
    .lg,
    .md {
        display: none;
    }
    .xs {
        display: block;
    }
}
