/* color */
$white: #ffffff;
$orenge: #ff5a30;
$darkGrey: #1e212c;
$lightGrey: #cecece;
$grey: #424551;
$gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 13.21%, rgba(0, 0, 0, 0) 45.13%);

/* @media */
$mediaLaptop: "(max-width: 1200px)";
$mediaTablet: "(max-width: 991px)";
$mediaMobile: "(max-width: 680px)";
$mediaMobileMini: "(max-width: 350px)";
