@import "../../../assets/styles/variables.module.scss";

.from_block {
    background: url(../../../assets/images/home/form-1920.png) center no-repeat;
    background-size: cover;
    padding: 100px 0 111px;
}
